<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizag</title>
    <p>Visakhapatnam, also known as Vizag, Viśākha or Waltair,[1][16][17] is the largest and most populous metropolitian city in the Indian state of Andhra Pradesh. It is between the Eastern Ghats and the coast of the Bay of Bengal.[18][19] It is the second-largest city on the east coast of India after Chennai, and the fourth-largest in South India. It is one of the four smart cities of Andhra Pradesh selected under the Smart Cities Mission[20] and is the headquarters of Visakhapatnam district.[21] With an estimated output of $43.5 billion, it is the ninth-largest contributor to India's gross domestic product as of 2016.[22][23]

        Visakhapatnam's history dates back to the 6th century BCE. It was ruled by the Andhra Satavahanas, Vengi, the Pallava and Eastern Ganga dynasties.[24][25] Visakhapatnam was an ancient Port city which had trade relations with the Middle East and Rome. Ships were anchored at open roads and were loaded with cargo transported from Visakhapatnam shore by means of small Masula boats. A reference to Vizagapatnam merchant is available in the inscriptions of Bheemeswara temple (1068 CE) of East Godavari District. During 12th century CE, Vizagapatnam was a fortified merchandize town managed by a guild.[26] European powers eventually established trade operations in the city, and by the end of the 18th century it had come under French colonial rule.[27][28] Control passed to the East India Company in 1804 and it remained under British colonial rule until Indian independence in 1947.</p>
        </head>